# Exclude data folder
/data/*

# Exclude RStudio files
.RData
.Rhistory

# Exclude Mac specific files
.DS_Store

# Exclude ff folder
/ffdf/*
/ffdfClean/*
/ffdfClean2/*

# Exclude backup folders
/backup

# Exclude cache files from XGBoost
**.cache
**.page

# Exclude js and css files from Leaflet
**.js
**.css


